/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'Manrope', sans-serif;
  background-color: #f8f9fa;
  color: #495057;
  line-height: 1.6;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header {
  background-color: #4CAF50;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center; /* Align icon and text vertically */
}

.header .logo i {
  margin-right: 5px; /* Add space between icon and text */
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbar-list {
  list-style: none;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #cce6ff;
}

/* Privacy Policy Section */
.privacy-policy-section {
  padding: 50px 0;
}

.privacy-content {
  font-size: 1.1rem;
}

.footer {
  background-color: #4CAF50;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

    
    
    
  
    
